<form method="POST" action="/form">
  <div>
    <label>Search</label>
    <input type="text" name="subject" required>
  </div>
  <div>
    <label for="topic">Topic</label>
    <select name="topic" id="topic">
      <option value="characters">Characters</option>
      <option value="comics">Comics</option>
      <option value="creators">Creators</option>
      <option value="events">Events</option>
      <option value="series">Series</option>
      <option value="stories">Stories</option>
    </select>
  </div>
  <div>
    <label for="subtopic">Sub-Topic</label>
    <select name="subtopic" id="subtopic">
      <option value="characters">Characters</option>
      <option value="comics">Comics</option>
      <option value="creators">Creators</option>
      <option value="events">Events</option>
      <option value="series">Series</option>
    </select>
  </div>
  <div>
    <button type="submit" name="submit">Submit</button>
  </div>
</form>