<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

  <header>
  <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="jumbotron">
      <form method="POST" action="">
        <label for="item-weight">Weight of Item:</label><br>
        <input type="text" name="item-weight" required><br><br>

        <label for="mail-type">Type of Mail:</label><br>
        <select name="mail-type">
          <option value="" selected disabled>Select a Type</option>
          <option value="1">Letter (Stamped)</option>
          <option value="2">Letter (Metered)</option>
          <option value="3">Large Envelope (Flats)</option>
          <option value="4">First-Class Package Service (Retail)</option>
        </select>
      </form>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

  </body>
</html>