<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

  <header>
  <%- include('../partials/header'); %>
  </header>


  <main>
    <div class="jumbotron">
      <div>
        Success, you are signed in and the database connection works.
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

  </body>
</html>